.bottom-footer{
    padding: 10px;
    color: white;

}
.footer-main{
    background-image: url('/images/footer-backgound.png');
    border-top-left-radius: 100px;
}
.upper-footer{
    color: white;
}